@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@layer components{
  /* .nav-link {
  @apply text-white cursor-pointer hover:text-yellow-300 transition;
} */

.nav-link {
  @apply text-white cursor-pointer hover:text-yellow-300 transition;
  @apply text-base px-3 py-2; /* suitable size for mobile */
  @apply block sm:inline-block; /* stack vertically on mobile, inline on sm+ */
}


}